<header>
  <h1>Welcome to our board app</h1>
  <nav>
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a href="/views/pages/index.ejs">Home</a>
        <a href="/views/pages/form.ejs">
          <Form></Form>
        </a>
        <a href="views/pages/detail.ejs">Result</a>
      </div>
    </div>
  </nav>
</header>