<header>
  <nav>
    <span>Welcome user</span>
    <div class="menu">
      <i class="fa fa-bars"></i>
      <div class="menu-options">
        <a href="/saves">Saved Activities</a>
        <a href="/about">About</a>
        <a href="/main">Main Page</a>
      </div>
    </div>
  </nav>
</header>