<%- include('../partials/header.ejs') %>

<div id="about">
  <p>A one stop solution for what to do with your time when you're out of ideas on what to do.  Bored App will make randomized suggestions for you.</p>
</div>