<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Page</title>
</head>
<body>
    <header>
        <h1>Here are some activities</h1>
    </header>
    <main>

    <section>
        <!-- <img src='<%=image_url %>'/> -->
        <!-- <h3><%=title %></h3> -->
        <!-- <p><%= description %></p> -->
        <!-- <p><%= price %></p> -->
        
    </section>
    </main>
</body>
</html>