
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form Page</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <header>
    <h1>Form</h1>
  </header>
  <main>
    <section id="form">
      <form method="POST" action="/one">
        <fieldset><legend>Form</legend>
        <label class="items"><span>Participants</span>
          <input type="number" name="participants">
        </label>
        <label class="items"><span>Accessbility</span>
          <input type="number" min= "0" step="0.01" name="accessbility" >

        </label>
      
        <label class="items"> <span>Price</span>
          <input type="number" min="0" step="0.01" name="price" >
        </label>
        <label class="items">
          <input type="submit" value="Show me some activities">
        </label>
      </fieldset>

      </form>
    </section>
