  <section id="form">
      <form method="POST" action="/search">
        <label class="items"><span>Participate number</span>
          <input type="number" min="0" step="0.01" name="Participants" >
        </label>
        <label class="items"><span>Accessbility</span>
          <input type="number" min="0" step="0.01" name="Accessbility" >
        </label>
      
        <label class="items"> <span>Price</span>
          <input type="number" min="0" step="0.01" name="price" >
        </label>
        <label class="items">
          <input type="submit" value="Show me some activities">
        </label>

      </form>
    </section>
