<div id="landing">
  <div id="welcome">
    <h1 class="landing-text">Bored App</h1>
    <p class="landing-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tenetur doloribus praesentium
      tempore architecto, eveniet sed omnis assumenda fuga!</p>
      
  <section id="form">
      <form method="POST" action="/user-name">
        <label class="items"><span>Please Enter a User Name</span>
          <input type="text" name="username">
        </label>
        <label class="items">
            <input type="submit" value="enterUserName">
          
          </label>
       
      </form>
    </section>
    
  </div>


  <div id="video-container">
    <video autoplay muted loop id="background">
      <source src="assets/concert.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>