<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bored App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
  <div id="landing">
    <div id="welcome">
      <h1 class="landing-text">Bored App</h1>
      <p class="landing-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tenetur doloribus praesentium tempore architecto, eveniet sed omnis assumenda fuga!</p>
      <a href="/main"><button>Start</button></a>
    </div>

    <div id="video-container">
      <video autoplay muted loop id="background">
        <source src="assets/concert.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</body>

</html>