<%- include('../partials/header.ejs') %>

<main class="container">
  
    <a href="/one"><button class ="box1" >Family Activities</button></a>
    <a href="/two"><button class ="box2">Work Activities</button></a>
    <a href="/three"><button class ="box3">Individual Activities</button></a>
    <a href="/four"><button class ="box4">Accessibility Activities</button></a> <a href="/saves"><button>Option Save</button></a>
  </main>
