<main>
  <div class="container">
    <a href="/one"><button class="box">Option One</button></a>
    <a href="/two"><button class="box" >Option Two</button></a>
    <a href="/three"><button class="box">Option Three</button></a>
    <a href="/four"><button class="box">Option Four</button></a>
  </div>
  </main>
