<%- include('../partials/header.ejs') %>
<main class="container">
    <a href="/family?participants=3&price=&minaccessibility=&maxaccessibility="><button class ="box1 mb" >Family Activities</button></a>
    <a href="/work?participants=5&price=&minaccessibility=&maxaccessibility="><button class ="box2 mb">Work Activities</button></a>
    <a href="/individual?participants=1&price=&minaccessibility=&maxaccessibility="><button class ="box3 mb">Individual Activities</button></a>
    <a href="/accessibility?participants=&price=&minaccessibility=0.5&maxaccessibility=1.0"><button class ="box4 mb">Accessibility Activities</button></a> <a href=" "><button class="remove"></button></a>
</main>
