<main>
    <a href="/one"><button>Option One</button></a>
    <a href="/two"><button>Option Two</button></a>
    <a href="/three"><button>Option Three</button></a>
    <a href="/four"><button>Option Four</button></a>
  </main>
