
body {
  margin: 0px;
  padding: 0px;
 
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5em;
}

h1{
 color:rgb(223, 217, 192);
 font-family: 'Lobster', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
}


@media(min-width: 768px){
  main  {
      max-width: 960px;
  }
}
  
@media only screen and (max-width: 500px) {
  main{
      max-width: 500px;
  }
}
