
body {
  margin: 0px;
  padding: 0px;
 
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5em;
}


@media(min-width: 768px){
  main  {
      max-width: 960px;
  }
}
  
@media only screen and (max-width: 500px) {
  main{
      max-width: 500px;
  }
}
