
body {
  margin: 0px;
  padding: 0px;
 
}

nav {
  background-color: rgb(131, 19, 235);
  color: rgb(223, 217, 192);
  display: flex;
  font-family: 'Lobster', cursive;
  font-size: 3vh;
  justify-content: space-between;
  padding: 1em;
}

h1{
 color:rgb(223, 217, 192);
 font-family: 'Lobster', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
}

#exp{
  color:rgb(223, 217, 192);
  font-family: 'Lobster', cursive;
  font-size: medium;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
 }


@media(min-width: 768px){
  main  {
      max-width: 960px;
  }
}
  
@media only screen and (max-width: 500px) {
  main{
      max-width: 500px;
  }
}
