#about {
  align-items: center;
  color: palevioletred;
  display: flex;
  font-family: 'Rock Salt', cursive;
  justify-content: center;
  height: 75vh;
  padding: 3em;
}

#btn input {
  border: 0px;
  border-radius: 10px;
  background-color: rgb(230, 227, 227);
  color:palevioletred;
  font-family: 'Rock Salt', cursive;
  margin: 0.7em;
  height: 3em;
  width: 20em;
}

#landing {
  align-items: center;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.landing-text {
  color: rgb(255, 255, 255);
  font-family: 'Rock Salt', cursive;
}

.menu-options {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}

.menu-options a {
  color: rgb(14, 5, 92);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-options a:hover {background-color: #ddd;}
.menu:hover .menu-options {display: block;}
.menu:hover i {display: none;}

#name input {
  font-family: 'Rock Salt', cursive;
  height: 3em;
  width: 20em;
  background-color: rgb(230, 227, 227);
  margin: 0.7em;
}

#welcome {
  align-items: center;
  background-color: rgba(230, 228, 228, 0.07);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  padding: 3em;
  width: 50vw;
  z-index: 1;
}

#welcome h1 {
  font-size: 3em;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.container{
  margin: 20px auto;
  width:100vw;
  height:100vw;
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 10em;
  
}
  .box1{
    padding:10px;
    height: 100%;
    width: 100%;
    border-radius:20px;
    color:#FFDC00;
    align-items:center;
    justify-content:center;
    font-size:40px;
    background-image: url("../assets/family.jpg");
    background-size: cover;


  }


  .box2{
    padding:20px;
    border-radius:20px;
    height: 100%;
    width: 100%;
    color:#FFDC00;
    align-items:center;
    justify-content:center;
    font-size:40px;
    background-image: url("../assets/work.jpg");

    background-size: cover;

  


  }
  .box3{
    padding:20px;
    border-radius:20px;
    height: 100%;
    width: 100%;
    color:#FFDC00;
    align-items:center;
    justify-content:center;
    font-size:40px;
    background-image: url("../assets/individual.jpg");
    background-size: cover;


  }
  .box4{
    padding:20px;
    border-radius:20px;
    height: 100%;
    width: 100%;
    color:#FFDC00;
    align-items:center;
    justify-content:center;
    font-size:40px;
    background-image: url("../assets/access.jpg");
    background-size: cover;


  }

  .image {
    height: auto;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    
  }
  

  .activities{

    margin: 5px auto;
    width:100px;
    height:100px;
    display:grid;
    grid-template-columns: 50px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: honeydew;


  }

 